[Unit]
Description=monitoring client service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/bash /root/Automation3/SERVER_CLIENT/client.sh

[Install]
WantedBy=multi-user.target
